@model ActivityViewModel

@{
    ViewData["Title"] = "Activiteit verwijderen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activiteit verwijderen</h2>

<h3>Weet je zeker dat je dit wilt verwijderen?</h3>
<div>
    <h4>Activiteit</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ActivityID" />
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedsSignUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsSignUp)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Verwijderen" class="btn btn-danger" />
            <a asp-action="Index" class="btn btn-default">Terug naar overzicht</a>
        </div>
    </form>
</div>
