@using indicium_webapp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model ActivityViewModel

@{
    ViewData["Title"] = "Activiteit details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activiteit details</h2>

<div>
    <h4>Activiteit</h4>

    <div class="form-actions no-color">
        @if (Model.NeedsSignUp)
        {
            @if (SignInManager.IsSignedIn(User))
            {
                @if (@ViewBag.SignedUp)
                {
                    <a class="btn btn-danger" asp-controller="signups" asp-action="delete" asp-route-id="@Model.ActivityID">Uitschrijven</a>
                }
                else
                {
                    <form asp-area="" asp-controller="signups" asp-action="create" asp-route-id="@Model.ActivityID" method="post" style="display: inline-block">
                        <button type="submit" class="btn btn-primary">Inschrijven</button>
                    </form>
                }
            }
            else
            {
                <a class="btn btn-primary" asp-controller="signups" asp-action="guest" asp-route-id="@Model.ActivityID">Inschrijven</a>
            }
        }

        @if (this.User.IsInRole("Bestuur") || this.User.IsInRole("Secretaris"))
        {
            <a asp-action="Edit" asp-route-id="@Model.ActivityID" class="btn btn-primary">Bewerken</a>
        }
        <a asp-action="Calendar" class="btn btn-default">Terug naar kalender</a>
        @if (this.User.IsInRole("Bestuur") || this.User.IsInRole("Secretaris"))
        {
            <a asp-action="Index" class="btn btn-default">Terug naar overzicht</a>
        }
    </div>

    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ActivityType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ActivityType.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedsSignUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsSignUp)
        </dd>
    </dl>
</div>

<div>
    @if ((this.User.IsInRole("Bestuur") || this.User.IsInRole("Secretaris")) && Model.NeedsSignUp)
    {
        <hr/>

        <h4>Inschrijvingen</h4>

        @if (Model.SignUps != null && Model.SignUps.Any())
        {
            @if (ViewBag.applicationUserResult)
            {
                <h5>Ingeschreven leden</h5>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Studentnummer</th>
                            <th>Naam</th>
                            <th>Geslacht</th>
                            <th>Studietype</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SignUps)
                        {
                            @if (item.ApplicationUser != null)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="signups" asp-action="details" asp-route-id="@item.SignUpID">
                                            @Html.DisplayFor(modelItem => item.ApplicationUser.StudentNumber)
                                        </a>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.Sex)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.ApplicationUser.StudyType)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }

            @if (ViewBag.guestResult)
            {
                <h5>Gasten</h5>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Naam</th>
                            <th>E-mail</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.SignUps)
                        {
                            @if (item.Guest != null)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Guest.FirstName) @Html.DisplayFor(modelItem => item.Guest.LastName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Guest.Email)
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            }
        }
        else
        {
            <p>Er zijn geen inschrijvingen gevonden.</p>
        }
    }
</div>
