@using indicium_webapp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model indicium_webapp.Models.Activity

@{
    ViewData["Title"] = "Activiteit details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Activiteit details</h2>

<div>
    <h4>Activiteit</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NeedsSignUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NeedsSignUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>
<div class="form-actions no-color">
    @if (SignInManager.IsSignedIn(User))
    {
        var result = false;

        @foreach (var item in Model.SignUps) {
            @if (item.ApplicationUserID == UserManager.GetUserId(User))
            {
                result = true;
                break;
            }
        }

        @if (result)
        {
            <form asp-area="" asp-controller="signups" asp-action="delete" asp-route-id="@Model.ActivityID" method="post" style="display: inline-block">
                <button type="submit" class="btn btn-primary">Uitschrijven</button>
            </form>
        }
        else
        {
            <form asp-area="" asp-controller="signups" asp-action="create" asp-route-id="@Model.ActivityID" method="post" style="display: inline-block">
                <button type="submit" class="btn btn-primary">Inschrijven</button>
            </form>
        }
    }

    <a asp-action="Calendar" class="btn btn-default">Terug naar overzicht</a>
</div>
