@model IndexViewModel
@{
    ViewData["Title"] = "Beheer je account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>Wijzig de instellingen van het account van @Model.Name</h4>
    <hr />

    <h5>Accountsgegevens</h5>
    <dl class="dl-horizontal">
        <dt>Wachtwoord:</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">Wijzig</a>
        </dd>
        <dt>Email:</dt>
        <dd>@Model.Email <a asp-controller="Manage" asp-action="ChangeEmail" class="btn-bracketed">Wijzig</a></dd>
    </dl>

    <h5>Contactgegevens</h5>
    <dl class="dl-horizontal">

        <dt>Telefoonnummer:</dt>
        <dd>@Model.PhoneNumber</dd>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePhoneNumber" class="btn-bracketed">Wijzig</a>
        </dd>
    </dl>


    <h5>Persoonsgegevens</h5>
    <dl class="dl-horizontal">
        <dt>Geboortedatum:</dt>
        <dd>@Model.Birthday</dd>
        <dt>Geslacht:</dt>
        <dd>@Model.Sex</dd>
        <dt>Iban:</dt>
        <dd>@Model.Iban</dd>
        <dd>
            <a asp-controller="Manage" asp-action="ChangePersonalInformation" class="btn-bracketed">Wijzig</a>
        </dd>
    </dl>

    <h5>Adresgegevens:</h5>
    <dl class="dl-horizontal">
        <dt>Land:</dt>
        <dd>@Model.AddressCountry</dd>
        <dt>Plaats:</dt>
        <dd>@Model.AddressCity</dd>
        <dt>Postcode:</dt>
        <dd>@Model.AddressPostalCode</dd>
        <dt>Straat:</dt>
        <dd>@Model.AddressStreet</dd>
        <dt>Nummer:</dt>
        <dd>@Model.AddressNumber</dd>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeAddressInformation" class="btn-bracketed">Wijzig</a>
        </dd>
    </dl>

    <h5>Studiegegevens:</h5>
    <dl class="dl-horizontal">
        <dt>Startdatum studie:</dt>
        <dd>@Model.StartdateStudy</dd>
        <dt>Studietype:</dt>
        <dd>@Model.StudyType</dd>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeEducationalInformation" class="btn-bracketed">Wijzig</a>
        </dd>
    </dl>

    <h5>Lidmaatschap opzeggen</h5>
    <p class="text-danger">Informatief stuk over hoe verschrikkelijk het opzeggen van een lidmaatschap wel niet is.</p>
    <a asp-controller="Manage" asp-action="AbortMembership" class="btn-bracketed">Hef lidmaatschap op</a>
</div>
