@model indicium_webapp.Models.SignUp

@{
    ViewData["Title"] = "Inschrijving details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Inschrijving details</h2>

<div>
    <h4>Inschrijving</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Activities.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activities.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activities.StartDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.StartDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activities.EndDateTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.EndDateTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activities.NeedsSignUp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.NeedsSignUp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activities.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activities.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index" class="btn btn-default">Terug naar overzicht</a>
</div>
