@model IEnumerable<ApplicationUserViewModel>

@{
    ViewData["Title"] = "Openstaande verzoeken";
}

<h2>Openstaande verzoeken</h2>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sex)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressStreet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressPostalCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentNumber)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sex)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Birthday)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressStreet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressPostalCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddressCity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StudentNumber)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Controleren</a>
                </td>
            </tr>
        }
    </tbody>
</table>
