@model indicium_webapp.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details persoonsgegevens</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartdateStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartdateStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.IsActive, "CustomInt")
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsApproved)
        </dt>
        <dd>
            @Html.DisplayFor(m => m.IsApproved, "CustomInt")
        </dd>
        <dt>
            Gebruikersnaam
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Telefoonnummer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    @if (Model.IsApproved == 0)
    {
        <form>
            <div>
                <input type="hidden" asp-for="FirstName" />
                <input type="hidden" asp-for="LastName" />
                <input type="hidden" asp-for="Sex" />
                <input type="hidden" asp-for="Birthday" />
                <input type="hidden" asp-for="AddressStreet" />
                <input type="hidden" asp-for="AddressNumber" />
                <input type="hidden" asp-for="AddressPostalCode" />
                <input type="hidden" asp-for="AddressCity" />
                <input type="hidden" asp-for="AddressCountry" />
                <input type="hidden" asp-for="Iban" />
                <input type="hidden" asp-for="StudentNumber" />
                <input type="hidden" asp-for="StartdateStudy" />
                <input type="hidden" asp-for="StudyType" />
                <input type="hidden" asp-for="RegistrationDate" />
                <input type="hidden" asp-for="IsActive" />
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="Email" />
                <input type="hidden" asp-for="ConcurrencyStamp" />
                <input type="hidden" asp-for="PhoneNumber" />
                <div class="form-group">
                    <label asp-for="IsApproved" class="col-md-2 control-label"></label>
                    <div class="col-md-10">
                        <select asp-for="IsApproved" class="form-control">
                            <option value="1">Goed</option>
                            <option value="2">Fout</option>
                        </select>
                        <span asp-validation-for="StudyType" class="text-danger"></span>
                    </div>
                </div> 
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Keur" class="btn btn-default" formmethod="post" />
                </div>
            </div>
        </form>

    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bewerk</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
