@model indicium_webapp.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details persoonsgegevens</h2>

<div>
    <h4>Gebruiker</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Sex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Birthday)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Birthday)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressStreet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressStreet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressPostalCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressPostalCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AddressCountry)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AddressCountry)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Iban)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Iban)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudentNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudentNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StartdateStudy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StartdateStudy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StudyType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.StudyType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>
        <dt>
            Gebruikersnaam
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            E-mail
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            Telefoonnummer
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bewerk</a> |
    <a asp-action="Index">Terug naar overzicht</a>
</div>
