@model ContactViewModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager

@addTagHelper *, PaulMiami.AspNetCore.Mvc.Recaptcha

@{
    ViewData["Title"] = "Contact";
    var user = @ViewBag.LoggedInUser;
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
    {
        <div class="alert alert-warning alert-dismissible fade in text-danger" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <span>@Html.ValidationSummary(true)</span>
        </div>
    }

    <div class="col-md-4">
        <h3>Algemeen Bestuur</h3>
        <hr />

        <adress>
            <strong>William Loosman</strong><br />
            Planetenbaan 35<br />  
            3721KB Bilthoven<br />    
            Telefoonnummer: 06 83151124<br />
            <a href="mailto:william.loosman@student.hu.nl">william.loosman@student.hu.nl</a><br />
            <br />
        </adress>

        <adress>
            <strong>Nigel van Hattum</strong><br />
            Planetenbaan 35<br />
            3721KB Bilthoven<br />
            Telefoonnummer: 06 46275558<br />
            <a href="mailto:nigel.vanhattum@student.hu.nl">nigel.vanhattum@student.hu.nl</a><br />
            <br />
        </adress>

        <adress>
            <strong>Olivier Verwoerd</strong><br />
            van Heemstralaan 30<br />
            3741HH Baarn<br />
            Telefoonnummer: 06 10313445<br />
            <a href="mailto:olivier.verwoerd@student.hu.nl">olivier.verwoerd@student.hu.nl</a><br />
            <br />
        </adress>

        <adress>
            <strong>Sander de Bruin</strong><br />
            Bankstede 32<br />
            3431HN Nieuwegein<br />
            Telefoonnummer: 06 38274373<br />
            <a href="mailto:sander.debruin@student.hu.nl">sander.debruin@student.hu.nl</a>
            <br />
        </adress>
    </div>
    <div class="col-md-8">
        <h3>Contactformulier</h3>
        <hr />

        <form asp-action="Contact" class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" value="@(SignInManager.IsSignedIn(User) ? user.Name : "")") />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" value="@(SignInManager.IsSignedIn(User) ? user.Email : "")") />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Message" class="form-control"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <recaptcha />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Versturen" class="btn btn-default" />
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <recaptcha-script />
}
