@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Indicium</title>

    <environment names="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />       
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css">
        <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />       
    </environment>

    <environment names="Staging,Production">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/jquery-ui/themes/base/all.css">
        <link rel="stylesheet" href="~/lib/fullcalendar/dist/fullcalendar.min.css">
        <link rel="stylesheet" href="~/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css">
        <link rel="stylesheet" href="~/lib/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.min.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)

    @RenderSection("Styles", required: false)
</head>
<body>
    <nav id="mainNav" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="mainLogo" asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="/images/a4sticker2.svg"></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <!-- dit is niet helemaal hoe het hoort maar zag tot nu toe geen andere optie om de navbar te veranderen
                        daarom kleurt aanmelden en login nog niet mee

                        daarintegen kan het wel laten zien hoe het ook kan
                       -->
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="home" asp-action="about">Bestuur</a></li>
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="activities" asp-action="calendar">Activiteiten</a></li>
                    <li><a style="color:black; font-size:180%;" href="http://www.introict.wordpress.com/" target="_blank">Intro ICT</a></li>
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="vacancy" asp-action="index">Vacaturebank</a></li>
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="vacancy" asp-action="index">Sponsoren</a></li> <!--temp solution page not created-->
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="home" asp-action="statuten">Statuten</a></li>
                    <li><a style="color:black; font-size:180%;" asp-area="" asp-controller="home" asp-action="contact">Contact</a></li>
                </ul>
                <!-- @await Html.PartialAsync("_LoginPartial") -->
            </div>
        </div>
    </nav>
    <div id="mainContent" class="container body-content">
        @RenderBody()
        <hr />
        <footer id="mainFooter">
            <p>S.V. Indicium @String.Format("{0:yyyy}", DateTime.Today) - Daltonlaan 200 lokaal 2.81 - bestuur@indicium.hu</p>
        </footer>
    </div>

    <environment names="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>      
        <script type="text/javascript" src="~/lib/jquery-ui/ui/jquery-1-7.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
        <script type="text/javascript" src="~/lib/fullcalendar/dist/locale/nl.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
        <script type="text/javascript" src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script type="text/javascript" src="~/js/site.min.js" asp-append-version="true"></script>
        <script type="text/javascript" src="~/lib/jquery-ui/ui/jquery-1-7.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/v/bs-3.3.7/dt-1.10.15/datatables.min.js"></script>
        <script type="text/javascript" src="~/lib/moment/min/moment.min.js"></script>
        <script type="text/javascript" src="~/lib/fullcalendar/dist/fullcalendar.min.js"></script>
        <script type="text/javascript" src="~/lib/fullcalendar/dist/locale/nl.js"></script>
        <script type="text/javascript" src="~/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
        <script type="text/javascript" src="~/lib/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
