@model indicium_webapp.Models.ActivityType

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ActivityType</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BackgroundColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BackgroundColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BorderColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BorderColor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TextColor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TextColor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ActivityTypeID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
