@model IEnumerable<indicium_webapp.Models.ActivityType>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BackgroundColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.BorderColor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TextColor)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BackgroundColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BorderColor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TextColor)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ActivityTypeID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ActivityTypeID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ActivityTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
